@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');

@layer base {
  @font-face {
    font-family: Monoton;
    font-weight: 400;
    src: url(/Monoton-Regular.ttf) format("truetype");
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: transparent;
}

.max-width {
  @apply max-w-[1480px] mx-auto sm:px-3 md:px-6 lg:px-7 xl:px-10;
}

.gradient-banner {
  border-radius: 264.521px;
  background: #0EC4FF;
  filter: blur(250px);
}